.banner{
    position: absolute;
    left: 0;
    width: 100vw;
    height: 20vh;
    max-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    display: flex;
    justify-content: center;
}
.banner img{
    height: 80%;
    aspect-ratio: 1/1;
    align-self: center;
    animation: imgappear ease-in .7s;
}
@keyframes imgappear {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.bodyhome{
    padding-top: 20vh;
}
.jugadoresHome{
    width: 100%;
    display: flex;
    background-color: #fafafa;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;
    overflow: hidden;
}
.jugadoresHome h2{
    width: 100%;
    font-size: 1.5rem;
    padding: 20px;
    background-color: #0f0f0f;
    color: #fafafa;
    font-weight: 700;
    text-align: center;
    border-radius: 20px;
}
.vermas{
    display: inline;
    width: 70%;
    max-height: 1em;
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding: 20px;
    background-color: #1e1882;
    border: 2px solid #1e1882;
    color: #fafafa;
    font-weight: 300;
    text-align: center;
    border-radius: 20px;
    transition: ease-in-out .2s;
}

.vermas:hover{
    background-color: #4758a5;
    transform: scaleX(1.05);
}
.jugadoresContenedor{
    padding: 20px 0px;
    width: 90%;
    display: flex;
    justify-content: center;
}
.academiasHome{
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flyer{
    max-width: 95%;
}
.academiasHome a{
    display: flex;
    width: 95%;
    aspect-ratio: 32/32;
    border-radius: 20px;
    margin: 10px 0px;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-color: #1e1882;
}
.academiasHome a div{
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease .3s;
    justify-content: center;
    align-items: flex-end;
}
.academiasHome a div:hover{
    transform: scale(1.2);
    align-items: center!important;
    font-weight: 800;
    background-blend-mode: color-burn;

}
.academiasHome a div p{
    color: #fafafa;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    transition: ease .7s;
}
@media all and (min-width: 800px){
    .banner{
        height: 30vh;
    }
    .bodyhome{
        padding-top: 30vh;
    }
    .academiasHome a{
        width: 45%;
    }
    .flyer{
        max-width: 85%;
        border-radius: 30px;
    }
}

@media all and (max-width: 800px){
    
    .jugadoresContenedor{overflow-x: scroll;
    justify-content: flex-start;}
}
@media all and (min-width: 1100px){
    .banner{
        height: 40vh;
    }
    .bodyhome{
        padding-top: 40vh;
    }
}
