.body{
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}
.staffmemberbody{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 4vh;
    padding-top: 4vh;
}
.staffmemberimg{
    width: 90px;
    aspect-ratio: 1/1;
}
.staffmemberinfo{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.staffmemberinfo h4{
    font-size: 3rem!important;
}
.staffmemberinfo h5{
    font-size: 2.4rem;
}
.staffmemberinfo p{
    font-size: 1.8rem;
}
@media all and (max-width: 820px){
    .staffmemberinfo{
        width: 80%;
    }
    .staffmemberinfo h4{
        font-size: 2.3rem!important;
    }
    .staffmemberinfo h5{
        font-size: 1.8rem;
    }
    .staffmemberinfo p{
        font-size: 1.5rem;
    }
}
@media all and (max-width: 390px){
    .staffmemberinfo h4{
        font-size: 1.7rem!important;
    }
    .staffmemberinfo h5{
        font-size: 1.4rem;
    }
    .staffmemberinfo p{
        font-size: 1rem;
    }
}